tempuri.org.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="RequestPayloadReciever" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:include schemaLocation="https://github.com/sacy2k/testxsd/blob/master/schema.dadcdigital.com.dbb.services.2010.xsd" namespace="http://schema.dadcdigital.com/dbb/services/2010" />
      <xsd:include schemaLocation="https://github.com/sacy2k/testxsd/blob/master/schemas.microsoft.com.2003.10.Serialization.xsd" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:include schemaLocation="https://github.com/sacy2k/testxsd/blob/master/tempuri.org.xsd" namespace="http://tempuri.org/" />
      <xsd:include schemaLocation="https://github.com/sacy2k/testxsd/blob/master/schemas.microsoft.com.2003.10.Serialization.Arrays.xsd" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IRequestPayloadReciever_ProcessKeyEvents_InputMessage">
    <wsdl:part xmlns:q1="http://schema.dadcdigital.com/dbb/services/2010" name="parameters" element="q1:ProcessKeyEvents" />
  </wsdl:message>
  <wsdl:message name="IRequestPayloadReciever_ProcessRequestPayloadReceiver_InputMessage">
    <wsdl:part xmlns:q2="http://schema.dadcdigital.com/dbb/services/2010" name="parameters" element="q2:ProcessRequestPayloadReceiver" />
  </wsdl:message>
  <wsdl:message name="IRequestPayloadReciever_ProcessRequestPayload_InputMessage">
    <wsdl:part xmlns:q3="http://schema.dadcdigital.com/dbb/services/2010" name="parameters" element="q3:ProcessRequestPayload" />
  </wsdl:message>
  <wsdl:message name="IRequestPayloadReciever_Notify_InputMessage">
    <wsdl:part name="parameters" element="tns:Notify" />
  </wsdl:message>
  <wsdl:message name="IRequestPayloadReciever_Notify_OutputMessage">
    <wsdl:part name="parameters" element="tns:NotifyResponse" />
  </wsdl:message>
  <wsdl:message name="IRequestPayloadReciever_GetAssetIDs_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAssetIDs" />
  </wsdl:message>
  <wsdl:message name="IRequestPayloadReciever_GetAssetIDs_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAssetIDsResponse" />
  </wsdl:message>
  <wsdl:message name="IRequestPayloadReciever_GetAssetDetail_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAssetDetail" />
  </wsdl:message>
  <wsdl:message name="IRequestPayloadReciever_GetAssetDetail_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAssetDetailResponse" />
  </wsdl:message>
  <wsdl:message name="IRequestPayloadReciever_GetClientProfileIds_InputMessage">
    <wsdl:part name="parameters" element="tns:GetClientProfileIds" />
  </wsdl:message>
  <wsdl:message name="IRequestPayloadReciever_GetClientProfileIds_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetClientProfileIdsResponse" />
  </wsdl:message>
  <wsdl:message name="IRequestPayloadReciever_GetOrderStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOrderStatus" />
  </wsdl:message>
  <wsdl:message name="IRequestPayloadReciever_GetOrderStatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOrderStatusResponse" />
  </wsdl:message>
  <wsdl:message name="IRequestPayloadReciever_PerformActionOnOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:PerformActionOnOrder" />
  </wsdl:message>
  <wsdl:message name="IRequestPayloadReciever_PerformActionOnOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:PerformActionOnOrderResponse" />
  </wsdl:message>
  <wsdl:portType name="IRequestPayloadReciever">
    <wsdl:operation name="ProcessKeyEvents">
      <wsdl:input wsaw:Action="http://schema.dadcdigital.com/dbb/services/2010/IKeyEventsService/ProcessKeyEvents" message="tns:IRequestPayloadReciever_ProcessKeyEvents_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ProcessRequestPayloadReceiver">
      <wsdl:input wsaw:Action="http://schema.dadcdigital.com/dbb/services/2010/IKeyEventsService/ProcessRequestPayloadReceiver" message="tns:IRequestPayloadReciever_ProcessRequestPayloadReceiver_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ProcessRequestPayload">
      <wsdl:input wsaw:Action="http://schema.dadcdigital.com/dbb/services/2010/IKeyEventsService/ProcessRequestPayload" message="tns:IRequestPayloadReciever_ProcessRequestPayload_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Notify">
      <wsdl:input wsaw:Action="http://tempuri.org/IRequestPayloadReciever/Notify" message="tns:IRequestPayloadReciever_Notify_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRequestPayloadReciever/NotifyResponse" message="tns:IRequestPayloadReciever_Notify_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAssetIDs">
      <wsdl:input wsaw:Action="http://tempuri.org/IRequestPayloadReciever/GetAssetIDs" message="tns:IRequestPayloadReciever_GetAssetIDs_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRequestPayloadReciever/GetAssetIDsResponse" message="tns:IRequestPayloadReciever_GetAssetIDs_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAssetDetail">
      <wsdl:input wsaw:Action="http://tempuri.org/IRequestPayloadReciever/GetAssetDetail" message="tns:IRequestPayloadReciever_GetAssetDetail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRequestPayloadReciever/GetAssetDetailResponse" message="tns:IRequestPayloadReciever_GetAssetDetail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetClientProfileIds">
      <wsdl:input wsaw:Action="http://tempuri.org/IRequestPayloadReciever/GetClientProfileIds" message="tns:IRequestPayloadReciever_GetClientProfileIds_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRequestPayloadReciever/GetClientProfileIdsResponse" message="tns:IRequestPayloadReciever_GetClientProfileIds_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOrderStatus">
      <wsdl:input wsaw:Action="http://tempuri.org/IRequestPayloadReciever/GetOrderStatus" message="tns:IRequestPayloadReciever_GetOrderStatus_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRequestPayloadReciever/GetOrderStatusResponse" message="tns:IRequestPayloadReciever_GetOrderStatus_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PerformActionOnOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/IRequestPayloadReciever/PerformActionOnOrder" message="tns:IRequestPayloadReciever_PerformActionOnOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRequestPayloadReciever/PerformActionOnOrderResponse" message="tns:IRequestPayloadReciever_PerformActionOnOrder_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IRequestPayloadReciever" type="tns:IRequestPayloadReciever">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ProcessKeyEvents">
      <soap:operation soapAction="http://schema.dadcdigital.com/dbb/services/2010/IKeyEventsService/ProcessKeyEvents" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="ProcessRequestPayloadReceiver">
      <soap:operation soapAction="http://schema.dadcdigital.com/dbb/services/2010/IKeyEventsService/ProcessRequestPayloadReceiver" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="ProcessRequestPayload">
      <soap:operation soapAction="http://schema.dadcdigital.com/dbb/services/2010/IKeyEventsService/ProcessRequestPayload" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="Notify">
      <soap:operation soapAction="http://tempuri.org/IRequestPayloadReciever/Notify" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAssetIDs">
      <soap:operation soapAction="http://tempuri.org/IRequestPayloadReciever/GetAssetIDs" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAssetDetail">
      <soap:operation soapAction="http://tempuri.org/IRequestPayloadReciever/GetAssetDetail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetClientProfileIds">
      <soap:operation soapAction="http://tempuri.org/IRequestPayloadReciever/GetClientProfileIds" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOrderStatus">
      <soap:operation soapAction="http://tempuri.org/IRequestPayloadReciever/GetOrderStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PerformActionOnOrder">
      <soap:operation soapAction="http://tempuri.org/IRequestPayloadReciever/PerformActionOnOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RequestPayloadReciever">
    <wsdl:port name="BasicHttpBinding_IRequestPayloadReciever" binding="tns:BasicHttpBinding_IRequestPayloadReciever">
      <soap:address location="http://pxsnysmsapp003.dbb.dadcdigital.com:8151/Services/Secure/RequestPayloadReciever.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>